.DayView {
  width: (100%/7);
  height: (100%/6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 1.3rem;

  &:hover {
    cursor: pointer;
    background-color: #014d70;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__noactive {
    color: grey;
  }

  &__active {
    color: white;
  }

  &__selected {
    color: white;
    font-size: 1.5rem;
    background: #0c6479;
    font-weight: bold;
  }
}
