.DayView {
  width: (100%/8);
  margin: 2px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: darkviolet;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .DayView {
    width: (100%/9);
  }
}

.alert .alert-warning {
  font-weight: bold;
  font-size: 1.5rem;
  color: darkslateblue;
}
